* {
    box-sizing: border-box;
}

.conteiner {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 1280;
    height: 189px;
}

.title{
    width: 334px;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.start-radma {
    color: #000000;
}

.end-radma {
    color: #4BCAFF;
}

a {
    text-decoration: none;
}

.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 72px;
    background: #35444F;
}

.top-menu-item {
    height: 27px;
    margin: 26px 38px 19px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.top-menu-item:hover {
    border: 1px solid #35444F;
}

aside {
    float: left;
    
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 344px;
    height: 399px;
}

.side-bar-item {
    font-family: 'Roboto', sans-serif;
    height: 27px;
    padding: 26px 0 52px 44px;
}

.side-bar-item:hover {
    border: 1px solid #ffffff;
    background: #DBDBDB;
}

.content {
    display: flex;
    flex-direction: column;  
    width: 885px;
    margin: 0;
}

.logo {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
}

img {
    width: 320px;
    height: 381px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: regular; 
    font-size: 18px;
    padding: 34px 0; 
}

.footer {
    background: #63696E7A;
    width: 1280px;
    
}

.menu-down {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    height: 69px;    
}

.menu-down-item {
    padding: 20px 40px;
}

.menu-down-item:hover {
    border: 1px solid #63696E7A;
}
